    <h1>Delivery Address</h1>
    <label for="primaryaddress">Is this primary address</label><br> 
    <input type="checkbox"><br>
    <label for="fname">First name:</label><br>
    <input type="text" [(ngModel)]="AddressModel.firstName"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" [(ngModel)]="AddressModel.lastName"><br>
    <label for="lname">Email:</label><br>
    <input type="text" [(ngModel)]="AddressModel.email"><br>
    <label for="lname">Contact:</label><br>
    <input type="text" [(ngModel)]="AddressModel.contact"><br>
    <label for="lname">Address:</label><br>
    <input type="number" [(ngModel)]="AddressModel.addressType"><br>
    <label for="phone">State:</label><br>
    <input type="number" [(ngModel)]="AddressModel.state"><br>
    <label for="phone">City:</label><br>
    <input type="number" [(ngModel)]="AddressModel.city"><br>
    <button>Submit</button>
    