<div class="grid-container">
  <div class="item1">
    <img src="{{ womenItem.image }}">
      <h6>{{ womenItem.item }}</h6>
  </div>
  <div class="item2">
    ${{ womenItem.price }}
  </div>
  <div class="item3">
    <select>
      <option *ngFor="let size of getSize(womenItem.item)">{{ size }}</option>
    </select>
  </div>
  <div class="item4">
       <input type="number" min=1 max=10 (click)="onClick($event)">
  </div>
  <div class="item5">
    $ {{ womenItem.total }}
  </div>
  <div class="item6">
    <button (click)="onAddToBagClicked()">Add to Cart</button>
  </div>
</div>